@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --new-black: #1e1e26;
  --new-purple: #67159c;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--new-black);
}

body.active {
  font-family: "DM Sans", sans-serif;
  background-color: #e5e7ea;
  transition: background-color 0.2s ease-in-out;
}

.container {
  text-align: center;
  max-width: 400px;
  height: 600px;
  margin: 20vh auto;
  border-radius: 8px;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

p {
  margin-top: 0.75rem;
}

h1,
p {
  color: var(--white);
}

h1.active {
  color: #111;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

p.active {
  color: #111;
  margin-top: 0.75rem;
  transition: background-color 0.2s ease-in-out;
}

.randomText.active {
  color: #111;
  transition: background-color 0.2s ease-in-out;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-container input {
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

.input-container input[type="text"] {
  margin-top: 3.075rem;
}

.stringBox.active {
  background-color: var(--new-black);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.input-container input[type="button"] {
  margin-top: 1rem;
  color: var(--white);
  background-color: var(--new-purple);
  cursor: pointer;
}

.input-container input[type="button"]:hover {
  filter: brightness(90%);
  transition: 0.2s ease-in-out;
}

header {
  display: flex;
  justify-content: right;
  margin-right: 32px;
  margin-top: 32px;
}

.dark-mode {
  padding: 16px;
  background-color: #919491;
  border-radius: 8px;
  cursor: pointer;
}

.dark-mode:hover {
  background-color: #308044;
  transition: background-color 0.2s ease-in-out;
}

.border {
  border: 2px solid black;
  border-radius: 8px;
}
